{% extends 'base.html' %}

{% block title %} About us {% endblock %}

{% block content %}
    <h3>UA Help</h3>
    <p>Strona internetowa zrzeszająca użytkowników/instytucje/firmy którzy aktywnie uczestniczą w pomocy poszkodowanym w
        wojnie Ukraińsko-Rosyjskiej.</p>
    <p>Strona ma na celu wyświetlać i przyjmować od użytkowników zgłoszenia o ich zaangażowaniu w pomocy ofiarom i
        uchodźcom. Każdy wpis zarejestrowanego użytkownika jest wyświetlany na głównej strone w formie wpisu.</p>
    <p>Strona ma na celu zachęcenie innych do uczestniczenia w inicjatywie, lub zwrócić uwagę na te jednostki/firmy
        które przyczyniają się do poprawy aktualnej sytuacji.
        Osoby zgłaszające aktywność, mogą w ramach nagrody, zwiększyć swoją popularność lub rozgłos, reklamować firmę,
        lub promować bloga.</p>
    <p>Zyskiem osoby odwiedzającej, jest informacja o działalnościach społecznych, wiedza o nowinkach itp.</p>
{% endblock %}