{% extends 'base.html' %}
{% load static %}

{% block title %}
    Title
{% endblock %}

{% block css %}
{#    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">#}
{% endblock %}


{% block content %}

    {% for post in posts %}

        <span class="d-block p-2 bg-light text-white">

        <a class="nav-link link-dark" href="{% url 'post_detail_view' pk=post.pk %}">
        <h4>{{ post.profile }}</h4>
        <small>{{ post.created_at }}</small>
        <p><h3>{{ post.title }}</h3></p>
        <p>{{ post.content }}</p>
        </a>

        </span>
        <p></p>
    {% endfor %}

{% endblock %}


